{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "DenyAll",
            "Effect": "Deny",
            "NotAction": [
                "*"
            ],
            "Resource": "*"
        }
    ]
}